.header{
      border:1px solid #ccc;
      padding:5px 10px;
      background-color: black;
}

.header-nav{
      display: flex;
      justify-content: space-between;
}

.netflix-logo{
color: red !important;;
}

.signIn{
      color: red !important;
  }